body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #c89666; /* Background color for header */
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .header-content {
    display: inline-block;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
  
  .question-list {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
  }
  
  .question-list li {
    margin-bottom: 10px;
  }
  
  .question-list li{
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    color: blueviolet;
    text-decoration: none;
  }
  .solution-link {
    color: #2b65a6; /* Sky dark blue color */
    text-decoration: none; /* Disable underlining */
}

  .question-title {
    cursor: pointer; /* Change cursor to pointer for clickable titles */
  }
.question-title:hover,
.notes:hover {
  color: #c89666; /* Change text color to #c89666 on hover */
}
  .notes{
    cursor: pointer; /* Change cursor to pointer for clickable titles */
  }
  .description {
    display: none; /* Hide descriptions by default */
    margin: 0;
  }
  
  
  .note {
    display: none; /* Hide descriptions by default */
    margin: 0;
    font-weight: normal;
  }